input[type="checkbox"].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }
  input[type="checkbox"].css-checkbox:checked + label.css-label {
    background-position: 0 -20px; }
  input[type="checkbox"].css-checkbox + label.css-label {
    padding-left: 25px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 12px;
    font-weight: 700;
    vertical-align: middle;
    cursor: pointer; }

.css-label {
  background-image: url(http://csscheckbox.com/checkboxes/web-two-style.png); }

html,
body {
  min-height: 100%; }

html, body {
  font-family: "proxima-nova", "Helvetica Neue", sans-serif;
  font-size: 62.5%;
  font-size: 1.4rem; }

a {
  font-weight: 700; }

h1 {
  font-family: "minion-pro", "Georgia", serif; }

header {
  height: 75px;
  background: #17151b; }
  header .branding {
    display: block;
    float: left; }
    header .branding a {
      font-size: 2.1rem;
      font-weight: 300;
      font-family: "proxima-nova", "Helvetica Neue", sans-serif;
      color: white;
      padding: 20px 0;
      display: block;
      transition: 0.5s opacity; }
      header .branding a:hover {
        opacity: 0.75;
        text-decoration: none; }
      header .branding a span {
        font-weight: 700;
        font-size: 2.4rem;
        color: #ed1c24;
        margin-left: 2px; }

nav {
  height: 45px;
  background: #17151b; }
  nav > .container {
    border-top: 1px solid #3c3646; }

footer {
  border-top: 1px solid #EEE;
  padding: 40px 0;
  font-size: 0.75em;
  color: #17151b;
  position: relative;
  text-align: center; }
  footer img {
    width: 305px;
    background-size: 100%;
    margin-bottom: 20px;
    transition: 0.5s opacity; }
    footer img:hover {
      opacity: 0.75;
      text-decoration: none; }
  footer p {
    margin: 0;
    text-align: left; }
    footer p a {
      font-weight: 700;
      color: #17151b; }
      footer p a:hover {
        color: #17151b;
        text-decoration: underline; }
