// Partials: Typography

html, body {
    font-family: $primary-font-face;
	font-size: 62.5%;
    font-size: 1.4rem;
}

a {
	font-weight: 700;
}

h1 {
    font-family: $secondary-font-face;
}